// DOMOTICZ-HTC Example Configuration
// rename to config.js after making your changes.
// All Configuration options are made here, wont be overwritten on update.

// BEGIN CONFIG
var options = {
	powermate	: false,		// Enable PowerMate Volume Knob
	sharptv		: false,		// Enable SharpTV Sync & OSD
	host		: 'localhost',		// MQTT Broker Host (Domoticz)
	avrPort		: 23,			// Dedicated Telnet port on Pioneer
	avrHost		: "192.168.1.100",	// IP Address of Pioneer
	maxvol		: 161,			// 0dB, issue telnet: 3SUD for hard enforcment.
	tvPort		: "/dev/ttyUSB-TV",	// Serial Port for TV
	idx		: [ ],			// Init IDX Array
	request		: false,		// Required for MQTT
        status		: 'htc/connected',	// MQTT Status Path
	syslog		: false,		// Log to Syslog
	log		: false,		// Extra Debug Logging
};

// Domoticz Switches - NAME : IDX (false = Disabled)
var switches = {
	inputs		: 145,			// Input Selector Switch (Required)
	modes		: 168,			// Mode Selector Switch
	volume		: false,		// Volume Dimmer
	zone2		: false,		// Zone2 Input Selector
	z2volume	: false,		// Zone2 Volume Slider
	zone3		: false,		// Zone3 Input Selector
        z3volume        : false,                // Zone3 Volume Slider
	zone4		: false,		// Zone4 Input Selector
	tuner		: false,		// AM/FM Tune Selector
	displayText	: false,		// Front Display Text
	modeText	: 167,			// Audio Mode Text
	lights		: 180,			// Lights to dim w/PowerMate
};

// See your Pioneer IP & RS-232 Control Commands doc for Input and Audio Mode Numbers.

// Domoticz Input Selector - LEVEL : [INPUT, NAME]
var inputs = {
	0		: [ 0, 'Power Off' ],
	10		: [ 15, 'Nexus Player' ],
	20		: [ 04, 'PlayStation 3' ],
	30		: [ 22, 'PlayStation 4' ],
	40		: [ 24, 'Security Cameras' ],
        50              : [ 02, 'FM Tuner' ],
};

// Domoticz Audio Mode Selector - LEVEL : [MODE, NAME]
var modes = {
	10		: [ '0006', 'Auto Surround' ],
	20		: [ '0151', 'Auto Level Control' ],
	30		: [ '0007', 'Stream Direct' ],
	40		: [ '0001', 'Stereo' ],
	50		: [ '0012', 'ProLogic' ],
	60		: [ '0014', 'ProLogic Music' ],
	70		: [ '0112', 'Extended Stereo'],
};

// Domoticz Zone2/3/4 Input Selector - LEVEL : [INPUT, NAME]
var zoneInputs = {
	0		: [ 0, 'Power Off' ],
	10		: [ 15, 'Nexus Player' ],
	20		: [ 02, 'FM Tuner' ],
	30		: [ 41, 'Native Pandora' ],
	40		: [ 44, 'AirPlay' ],
};

// Domoticz Radio Tuner Selector - LEVEL : [FREQ, NAME]
var radio = {
        0               : [ 0, 'Power Off' ],
        10              : [ '09010', '90.1 NPR' ], 
        20              : [ '09410', '94.1 KOA' ],      
        30              : [ '09330', '93.3 KCTL' ], 
        40              : [ '10150', '101.5 Jammin' ], 
        50              : [ '10670', '106.7 KBPI' ], 
        60              : [ '10550', '105.5 Jack' ], 
}
// END CONFIG

exports.options = options
exports.switches = switches
exports.inputs = inputs
exports.modes = modes
exports.zoneInputs = zoneInputs
exports.radio = radio
